<%= form_with(model: pet, local: true, class: "mt-3") do |form| %>
  <% if pet.errors.any? %>
    <div class="alert alert-danger">
      <h2 class="alert-heading"><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
        <% pet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control border border-secondary bg-light" %>
  </div>

  <div class="form-group">
    <%= form.label :description, class: "form-label" %>
    <%= form.rich_text_area :description, class: "form-control border border-secondary bg-light" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :price, class: "form-label" %>
        <%= form.text_field :price, class: "form-control border border-secondary bg-light" %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :age, class: "form-label" %>
        <%= form.number_field :age, class: "form-control border border-secondary bg-light" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :category, class: "form-label" %>
    <%= form.text_field :category, class: "form-control border border-secondary bg-light" %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :delivery_to_client, class: "form-label" %>
        <%= form.check_box :delivery_to_client %>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="form-group">
        <%= form.label :insuranse, class: "form-label"  %>
        <%= form.check_box :insuranse %>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label :image, class: "form-label" %>
    <% if @pet.image.attached? %>
      <div class="mb-2">
        <% @pet.image.each do |img| %>
          <%= image_tag(img, class: "object-fit-cover", style: "width: 100px; height: 100px;") %>
        <% end %>
      </div>    
    <% end %>
    <%= form.file_field :image, multiple: true, class: "form-control border border-secondary bg-light" %>
  </div>

  <div class="mt-4">
   <% if pet.new_record? %>
      <%= form.submit "Save", class: "btn btn-primary" %>
    <% else %>
      <%= form.submit "Update", class: "btn btn-primary" %>
      <%= link_to "Show this pet", @pet, class: "btn btn-secondary ml-5"  %> 
    <% end %>
    <%= link_to 'Back', my_pets_pets_path, class: "btn btn-secondary ml-5" %>
  </div>
<% end %>
