<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pet.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= pet.price %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= pet.age %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= pet.category %>
  </p>

  <p>
    <strong>Delivery to client:</strong>
    <%= pet.delivery_to_client %>
  </p>

  <p>
    <strong>Insuranse:</strong>
    <%= pet.insuranse %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= pet.image %>
  </p>

  <p>
    <strong>User:</strong>
    <%= pet.user_id %>
  </p>

</div>
