<p style="color: green"><%= notice %></p>

<div>
  <h1>Pets</h1>

  <%= link_to "New pet", new_pet_path, class: "btn btn-primary" %>
</div>


<div id="pets" class="card-deck d-flex justify-content-center">
  <% @pets.each do |pet| %>
     <div class="card w-25 m-3 bg-light">
      <%= image_tag(pet.image.present? ? pet.image : asset_path('default-img.png'), class: 'card-img-top', alt:  pet.name) %>
      <div class="card-body">
        <h5 class="card-title"><%= pet.name %></h5>
        <p class="card-text"><%= pet.description %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= link_to "Show this pet", pet %></small>
      </div>
    </div>
  <% end %>  
</div>
