<p style="color: green"><%= notice %></p>

<% content_for :title, "My Pets" %> 

<div>
  <h1 class="text-center">My Pets</h1>  
</div>


<div id="pets" class="table-responsive mx-md-5 mx-0">

<table class="table table-striped">
    <thead class="table-light">
      <tr>
        <th>№</th>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Age</th>
        <th>Price</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <% @my_pets.each_with_index do |pet, index| %>
         <tr class="align-middle">
          <td><%= index + 1 %></td>
          <td>
            <%= image_tag(pet.image.present? ? pet.image.first : asset_path('default-img.png'), 
            style: "width: 60px; height: 60px; object-fit: cover; object-position: center;") %>
          </td>
          <td><%= pet.name %></td>
          <td><%= pet.description %></td>
          <td><%= pet.age %></td>
          <td><%= number_to_currency pet.price %></td>
          <td class="text-center">
            <div class="btn-group">
              <%= link_to 'Show', pet_path(pet), class: "btn btn-primary mx-1" %>
              <%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-primary mx-1" %>         
              <%= button_to "Delete", pet, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger mx-1" %>
            </div>
          </td>
        </tr>       
      <% end %>
    </tbody>
  </table>
</div>
