<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) || "RentAnimals" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-fluid m-0 p-0">
      <div class="container-fluid bg-dark d-flex p-1">  
        <%= form_with(url: search_pets_path, method: :get, local: true, class: "d-flex ms-auto") do %>
          <%= text_field_tag :query, params[:query], placeholder: 'Search by keyword' %>
          <%= submit_tag 'Search', class: "btn btn-primary" %>
        <% end %>        

        <% if user_signed_in? %>
          <div class="text-white align-self-center"><%= current_user.email %></div>
          <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-primary mx-3" %>
        <% else %>          
          <%= link_to 'Login', new_user_session_path, class: "btn btn-primary mx-3"  %>
        <% end %>        
      </div>   
     
      <div class="p-5 banner-background rounded">
        <h1>PetRent</h1>
        <p>This is a sample application that association rent animals for your event.</p>
      </div>

      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item mx-3">
                <%= link_to "Home", root_path, class: "btn btn-primary" %>               
              </li>
              <li class="nav-item mx-3">
                <%= link_to "Our animals", pets_path, class: "btn btn-primary" %>             
              </li>   
              <li class="nav-item mx-3">
                <% if current_user.present? && current_user.seller? %>
                  <%= link_to "My animals", my_pets_pets_path, class: "btn btn-primary" %> 
                <% end %>              
              </li>          
            </ul>            
          </div>

          <% if current_user.present? && !current_user.seller? %>
            <%= button_to 'Activate Account', activate_user_path(current_user), method: :patch, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
          <% else %>
           <%= link_to "Add new pet", new_pet_path, class: "btn btn-primary" %>
          <% end %>  
          

        </div>
      </nav>
    </div>  
    <main class="main-content" style="position: relative">
      <% if notice %>
          <div class="alert alert-success" role="alert" style="width: 300px; position: absolute; top: 20px; right: 20px;">        
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

        <% if alert %>
          <div class="alert alert-danger" role="alert" style="width: 300px; position: absolute; top: 20px; right: 20px;">
            <%= alert %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>

       <%= yield %> 
    </main>
   

    <footer class="container-fluid m-0 py-2 bg-dark mt-auto">
      <p class="text-center text-light mb-0">
        &copy; 2024 Iryna Kolhanova | 
        <a href="https://github.com/IrynaKolh" target="_blank" class="text-light text-decoration-none">GitHub</a>
      </p>
    </footer>
    
  </body>
</html>
